.bubble {
  display: flex;
  position: absolute;
  min-width: 8vw;
  max-width: 15vw;
  min-height: 8vh;
  padding: 10px;
  background-color: #FFFFFF;
  border-radius: 30px;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: "Alata-Regular", Helvetica;
  color: #813641;
  font-size: 18px;
}

