.box {
  position: relative;
  width: 53%;
  background-color: rgba(172, 134, 134, 0.7);
  border-radius: 16px;
  border: 2px dashed #813641;
}

.avatar {
  position: relative;
  width: 25%;
  top: 5%;
  left: 5%;
}

.username {
  position: absolute;
  top: 5%;
  left: 38%;
  font-family: "Alata-Regular", Helvetica;
  color: #813641;
  font-size: 18px;
  font-weight: 400;
}

.name {
  position: absolute;
  top: 40%;
  left: 38%;
  font-family: "Alata-Regular", Helvetica;
  color: #5E5E5E;
  font-size: 16px;
  font-weight: 400;
}

.birthday {
  position: absolute;
  top: 68%;
  left: 38%;
  font-family: "Alata-Regular", Helvetica;
  color: #5E5E5E;
  font-style : italic;
  font-size: 16px;
  font-weight: 400;
}

.sharedMsg {
  position: absolute;
  top: -10%;
  left: 55%;
  align-items: center;
}

.bubble {
  position: absolute;
  width:12vw;
}

.container{
  position:relative;
  left:3.6vw;
  top:0.7vh;
  max-width: 7.1vw;
}

.msg {
  position: relative;
  word-wrap: break-word;
  margin-top: 1.9vh;
  font-family: "Alata-Regular", Helvetica;
  color: #813641;
  font-size: 13px;
  text-align: center;
  line-height: 1;
}

.online_round{
  position:absolute;
  width: 10px;
  top:10%;
  left:90%;
  height: 10px;
  background-color: green;
  border-radius: 50%;
}

.online_round:hover .online_text {
  font-style: italic;
  visibility: visible;
}

.online_text {
  position: absolute;
  font-size: 12px;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: green;
  visibility: hidden;
}
