.box {
  position: absolute;
  width: 18vw;
  height: 10vh;
  background-color: #AC8686;
  border-radius: 16px;
  border: 2px dashed #813641;
}

.avatar {
  position: absolute;
  width: 3.8vw;
  top: 0.8vh;
  left: 1.5vw;
}

.username {
  position: absolute;
  top: 0.6vh;
  left: 7vw;
  font-family: "Alata-Regular", Helvetica;
  color: #813641;
  font-size: 18px;
  font-weight: 400;
}

.name {
  position: absolute;
  top: 3.6vh;
  left: 7vw;
  font-family: "Alata-Regular", Helvetica;
  color: #5E5E5E;
  font-size: 16px;
  font-weight: 400;
}

.birthday {
  position: absolute;
  top: 6.1vh;
  left: 7vw;
  font-family: "Alata-Regular", Helvetica;
  color: #5E5E5E;
  font-size: 16px;
  font-weight: 400;
}

.sharedMsg {
  position: absolute;
  top: -4.5vh;
  left: 18.5vw;
  align-items: center;
}

.bubble {
  position: absolute;
  width:12vw;
}

.msg {
  position: absolute;
  left:4.3vw;
  top:0.5vh;
  font-family: "Alata-Regular", Helvetica;
  color: #813641;
  font-size: 18px;
  text-align: center;
}
