
.group {
  position: relative;
  width: 25vw;
  height: 63vh;
}

.back_bloc {
  position: absolute;
  width: 47.5vh;
  height: 64vh;
  background-color: #eee7e7a6;
  border-radius: 16px;
  top: 0;
}

.remember-me {
  position: absolute;
  width: 2vw;
  top: 43vh;
  left: 2vw;
}

.password {
  position: absolute;
  width: 23vw;
  top: 36vh;
  left: 0.5vw;
}

.username {
  position: absolute;
  width: 23vw;
  top: 24vh;
  left: 0.5vw;
}

.logo_mini {
  position: absolute;
  width: 15vw;
  top: 2vh;
  left: 50%; /* Centre horizontalement */
  transform: translateX(-50%); /* Ajuste centrage horizontal */
}


.text_username{
  position: absolute;
  top: 20vh;
  left: 1.5vw;
}

.text_password {
  position: absolute;
  top: 32vh;
  left: 1.5vw;
}

.text_remember {
  position: absolute;
  top: 44.3vh;
  left: 4vw;
  color: #813641;
  font-size: 15px;
}

.signin_button {
  position: absolute;
  top: 50vh;
  left: 50%; /* Centre horizontalement */
  transform: translateX(-50%); /* Ajuste centrage horizontal */
  background-color: #813641;
  border-radius: 20px;
}

.no_account {
  position: absolute;
  top: 58vh;
  left: 5.4vw;
  color: transparent;
  font-size: 13px;
}

.text_dont {
  color: #919191;
}

.text_signup {
  color: #813641;
}
