
<div class="text_title new_msg ">New&nbsp;Message</div>
<div class="search_contact">
  <app-user-writing-frame [placeholder]="'Enter the recipient\'s username'"
                          [type] = "'text'"></app-user-writing-frame>
</div>
<div class="message">
  <app-user-writing-frame [placeholder]="'Enter your message'"
                          [type] = "'text'"
                         ></app-user-writing-frame>

</div>

<div class="text_upper_box">
  <div class="text_to">To:</div>
  <div class="text_message">Message:</div>
</div>


<div class="conv_unread"></div>
<div class="conv_read"></div>
<div class="send_button">
  <a routerLink="conversation">
    <button class="w3-button w3-ripple w3-hover-white w3-round-xxlarge"> <!-- Crée bouton-->
      <div class="text_button">SEND</div></button> <!-- Applique style de texte sur texte bouton-->
  </a>
</div>

