

    <div class="group">

      <div class="back_bloc">
        <img class="logo_mini" src="assets/logo.png" />
            <div class="username">
              <div class="text_upper_box">Username:</div>
              <app-user-writing-frame [placeholder]="'Enter your username'" [type] = "'text'"></app-user-writing-frame>
            </div>
            <div class="password">
              <div class="text_upper_box">Password:</div>
              <app-user-writing-frame [placeholder]="'Enter your password'"
                                      [type] = "'password'"></app-user-writing-frame>
            </div>
        <span class="remember-me">
          <input class="w3-check" type="checkbox"> <!-- CHECKBOX-->
          <div class="text_remember">Remember me</div>
        </span>
          <div class="signin_button"> <!-- Place bouton à bonne position avec intérieur couleur-->
            <a routerLink="home">
              <button class="w3-button w3-ripple w3-hover-white w3-round-xlarge"> <!-- Crée bouton-->
                <div class="text_button">SIGN IN</div></button> <!-- Applique style de texte sur texte bouton-->
            </a>
            <div class="no_account">
              <span class="text_dont">Don’t have an account? </span> <span class="text_signup">
        <a routerLink="signUp">Sign up </a></span> <!-- Bloc d'écriture en ligne (avec lien ici)-->
            </div>
          </div>

      </div>

    </div>


