<div *ngIf="error" class="popup">{{error}}</div>
    <div class="group">
      <div class="back_bloc">
        <img class="logo_mini" src="assets/logo.png" />
        <br><br>
        <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
            <div class="username">
              <div class="text_upper_box">Username:</div>
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#7D7D7D" class="bi bi-pencil" viewBox="0 0 16 16"
                   style="position:absolute;left:6.8%;top:58%;margin-left:5px">
                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
              </svg>
              <app-user-writing-frame formControlName="login" [placeholder]="'Enter your username'" [type] = "'text'"  [ngClass]="{ 'is-invalid': isInvalid('login')}"></app-user-writing-frame>
            </div>
            <div class="password">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#7D7D7D" class="bi bi-pencil" viewBox="0 0 16 16"
                   style="position:absolute;left:6.8%;top:58%;margin-left:5px">
                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
              </svg>
              <div class="text_upper_box">Password:</div>
              <app-user-writing-frame formControlName="password" [placeholder]="'Enter your password'"
                                      [type] = "'password'" [ngClass]="{ 'is-invalid': isInvalid('password') }"></app-user-writing-frame>
            </div>
        <span class="remember-me">
          <input class="w3-check" type="checkbox"> <!-- CHECKBOX-->
          <div class="text_remember">Show all users "online" status</div>
        </span>
          <div class="signin_button"> <!-- Place bouton à bonne position avec intérieur couleur-->
              <button [disabled]="loading || getField('login').errors || getField('password').errors " class="w3-button w3-ripple w3-hover-white w3-round-xlarge"> <!-- Crée bouton-->
                <div class="text_button">SIGN IN</div></button> <!-- Applique style de texte sur texte bouton-->
              <span *ngIf="loading" class="w3-spin"></span>
          </div>
        </form>
        <div class="no_account">
          <span class="text_dont">Don’t have an account? </span> <span class="text_signup">
        <a routerLink="signUp">Sign up </a></span> <!-- Bloc d'écriture en ligne (avec lien ici)-->
        </div>
      </div>
    </div>


