<div class="chat-container">

  <div class="hour" style="
           top: 15px;
           left: 310px;">Monday, 25th 3:55pm</div>

  <div class="userBubble" style="
               width: 400px;
               height: 60px;
               right: 30px;
               top: 40px">
    Ambre
    <app-user-bubble [content] =
                       "'Hi Vince, I’m working on a project for school right now but are you available tomorrow ' +
                            'to get coffee?'"></app-user-bubble>
  </div>

  <div class="interlocutorBubble" style="
           width: 400px;
           height: 60px;
           left: 30px;
           top: 160px">
    Vincent
    <app-interlocutor-bubble [content] = "'Sure! But I don’t really like coffee,' +
       ' I would rather take a bubble tea, would you like that?'"></app-interlocutor-bubble></div>

  <div class="userBubble" style="
          width: 245px;
          height: 40px;
          right: 30px;
          top: 260px">
    Ambre
    <app-user-bubble [content] = "'Sure, see you tomorrow then'"></app-user-bubble>
  </div>

  <div class="hour" style="
           top: 335px;
           left: 310px;">Tuesday, 26th 8:42pm</div>

  <div class="userBubble" style="
          width: 340px;
          height: 40px;
          right: 30px;
           top: 360px;">
    Ambre
    <app-user-bubble [content]= "'I’m so sorry i feel sick, let’s reschedule the meeting?'"></app-user-bubble>
  </div>

  <div class="interlocutorBubble" style="
          width: 400px;
          height: 40px;
          left: 30px;
           top: 460px">
    Vincent
    <app-interlocutor-bubble [content] = "'Omg you always stand me up.' +
     ' Im done, just say you dont wanna see me'"></app-interlocutor-bubble>
  </div>

  <div class="userBubble" style="
          width: 317px;
          height: 40px;
          right: 30px;
           top: 560px;">
    Ambre
    <app-user-bubble [content]= "'So im not even allowed to be sick lol ok'"></app-user-bubble>
  </div>


</div>

