<div class="chat-container">

  <div class="hour" style="
           top: 2vh;
           left: 21vw;">Monday, 25th 3:55pm</div>

  <div class="userBubble" style="
               width: 25vw;
               right: 2vw;
               top: 5vh">
    Ambre
    <app-user-bubble [content] =
                       "'Hi Vince, I’m working on a project for school right now but are you available tomorrow ' +
                            'to get coffee?'"></app-user-bubble>
  </div>

  <div class="interlocutorBubble" style="
           width: 25vw;
           left: 2vw;
           top: 21vh">
    Vincent
    <app-interlocutor-bubble [content] = "'Sure! But I don’t really like coffee,' +
       ' I would rather take a bubble tea, would you like that?'"></app-interlocutor-bubble></div>

  <div class="userBubble" style="
          width: 16vw;
          right: 2vw;
          top: 34vh">
    Ambre
    <app-user-bubble [content] = "'Sure, see you tomorrow then'"></app-user-bubble>
  </div>

  <div class="hour" style="
           top: 45vh;
           left: 21vw;">Tuesday, 26th 8:42pm</div>

  <div class="userBubble" style="
          width: 23vw;
          right: 2vw;
           top: 48vh;">
    Ambre
    <app-user-bubble [content]= "'I’m so sorry i feel sick, let’s reschedule the meeting?'"></app-user-bubble>
  </div>

  <div class="interlocutorBubble" style="
          width: 25vw;
          left: 2vw;
           top: 61vh;">
    Vincent
    <app-interlocutor-bubble [content] = "'Omg you always stand me up.' +
     ' Im done, just say you dont wanna see me'"></app-interlocutor-bubble>
  </div>

  <div class="userBubble" style="
          width: 20vw;
          right: 2vw;
           top: 74vh;">
    Ambre
    <app-user-bubble [content]= "'So im not even allowed to be sick lol ok'"></app-user-bubble>
  </div>


</div>

