.edit{
  position: absolute;
  top:15%;
  left: 61%;
  font-weight: 550;
}

.onglet {
  left:42.3%;
}

.bloc{
  position:absolute;
  top:23%;
  left:52%;
  width:20%;
}

.bloc > * {
  position: relative;
  left: 0;
}

.first_name{
  position: relative;
  top:-2.5vh;
  width: 150%;
  margin-bottom: -5%;
}

.last_name {
  position: relative;
  width: 150%;
  margin-bottom: 3%;
}

.birthday {
  position: relative;
  width: 30vw;
  left:-1%!important;
}

.confirm_password{
  position: relative;
  width: 150%;
  margin-bottom: 13%;
}

.update_button {
  position: relative;
  width: 91px;
  left: 60%!important;
  color: #ffffff;
  background-color: #813641;
  border-radius: 20px;
}

.delete_button {
  position: relative;
  font-size: 10px;
  margin-top:5%;
  width:99px;
  left : 110%;
  color: #ffffff;
  background-color: #813641;
  border-radius: 20px;
}

.avatar_pos {
  position:relative;
  top:1vh;
  left:5%;
  width:120%;
  margin-bottom: 6%;
}
