.edit{
  position: absolute;
  top:15%;
  left: 61%;
  font-weight: 550;
}

.onglet {
  left:42.3%; /*modif la position verticale pour placer sur le bon onglet*/
}

.bloc{
  position:absolute;
  top:20%;
  left:52%;
  width:20%;
}

.bloc > * { /*pour aligne tout le contenu à gauche*/
  position: relative;
  left: 0;
}

.text_avatar {
  position: relative;
  top: 0;
  left: 0;
}

.text_last_name {
  position: relative;
  top: 15vh;
}

.text_birthday {
  position: relative;
  top: 16vh;
}

.first_name{
  position: relative;
  top:14.5vh;
  left:-5%!important;
  width: 150%;
}

.last_name {
  position: relative;
  top:15.1vh;
  left:-5%!important;
  width: 150%;
}

.birthday {
  position: relative;
  width: 30vw;
  left:-5.5%!important;
  top: 16vh;
}

.password{
  position: relative;
  top:16.5vh;
  left:-5%!important;
  width: 150%;
}

.confirm_password{
  position: relative;
  top:16.5vh;
  left:-5%!important;
  width: 150%;
}

.update_button {
  position: relative;
  top: 19vh;
  width: 30%;
  left: 60%!important;
  color: #ffffff;
  background-color: #813641;
  border-radius: 20px;
}

.delete_button {
  position: absolute;
  font-size: 10px;
  width:30%;
  top: 18vh;
  left: 177%!important;
  color: #ffffff;
  background-color: #813641;
  border-radius: 20px;
}

.avatar_pos {
  position:relative;
  top:1vh;
  left:-40%!important;
  width:90%;
}
