/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  background-image: url('assets/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

/*BLOCS EN ARRIERE PLAN ET TOOLBAR*/
.back_bloc {
  width: 90vw; /* 90% de la largeur de la vue du navigateur */
  height: 83vh; /* 70% de la hauteur de la vue du navigateur */
  top: 100px;
  left: 50%; /* Centre horizontalement */
  position: absolute;
  background-color: #eee7e7a6;
  border-radius: 16px;
  transform: translateX(-50%); /* Ajuste la position horizontale */
}


.onglet {
  position: absolute;
  width: 143px;
  height: 30px;
  top: 50px;
  left: 215px;
  background-color: #ac8686a6;
  border-radius: 16px 16px 0px 0px;
}




/*textes*/

.text_global{
  font-family: "Alata-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.text_upper_box {
  -webkit-text-stroke: 1px #FAF6F6;
  font-weight: 1000;
  color: #813641;
  font-size: 20px;
}

.text_title {
  font-family: "Alata-Regular", Helvetica;
  font-weight: 400;
  text-align: center;
  color: #813641;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}


.text_button {
  font-family: "Alata-Regular", Helvetica;
  font-weight: 400;
  color: #DCDCDC;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
