<button type="button" (click)="onIconChange(1)" class="simple_button">
  <img class="avatar" style=" top: 0vh" src="../../../assets/avatar/1.png" />
</button>

<button type="button" (click)="onIconChange(7)" class="simple_button">
  <img class="avatar" style="top: 0vh" src="../../../assets/avatar/7.png"/>
</button>

<button type="button" (click)="onIconChange(2)" class="simple_button" >
  <img class="avatar" style="top: 0vh" src="../../../assets/avatar/2.png" />
</button>

<button type="button" (click)="onIconChange(8)" class="simple_button">
  <img class="avatar" style="top: 0vh" src="../../../assets/avatar/8.png" />
</button>

<button type="button" (click)="onIconChange(3)" class="simple_button">
  <img class="avatar" style="top: 0vh" src="../../../assets/avatar/3.png" />
</button>

<button type="button" (click)="onIconChange(9)" class="simple_button">
  <img class="avatar" style="top: 0vh" src="../../../assets/avatar/9.png" />
</button>

<button type="button" (click)="onIconChange(4)" class="simple_button">
  <img class="avatar" style="top: 0vh;" src="../../../assets/avatar/4.png" />
</button>

<button type="button" (click)="onIconChange(10)" class="simple_button">
  <img class="avatar" style="top: 0vh;" src="../../../assets/avatar/10.png" />
</button>

<button type="button" (click)="onIconChange(5)" class="simple_button">
  <img class="avatar" style="top: 0vh;" src="../../../assets/avatar/5.png" />
</button>

<button type="button" (click)="onIconChange(11)" class="simple_button">
  <img class="avatar" style="top: 0vh;" src="../../../assets/avatar/11.png" />
</button>

<button type="button" (click)="onIconChange(6)" class="simple_button">
  <img class="avatar" style="top: 0vh;" src="../../../assets/avatar/6.png" />
</button>

<button type="button" (click)="onIconChange(12)" class="simple_button">
  <img class="avatar" style="top: 0vh;" src="../../../assets/avatar/12.png" />
</button>
