.simple_button{
  position:relative;
  width: 15%;
  background-color: transparent;
  color: transparent;
  border:none;
  cursor:pointer;
  transition: background-color 0.3s;
}

.avatar {
  position:relative;
  width: 100%;
}

.simple_button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

.simple_button.selected {
  background-color:  rgba(129, 54, 65, 0.5);
  border-radius: 20px;
}
