<button type="button" (click)="onIconChange(1)" class="simple_button" >
  <img class="avatar" style="left: 0; top: 0vh" src="../../../assets/avatar/1.png" />
</button>

<button type="button" (click)="onIconChange(7)" class="simple_button" >
  <img class="avatar" style="left: 25%; top: 0vh" src="../../../assets/avatar/7.png"/>
</button>

<button type="button" class="simple_button">
  <img class="avatar" style="left: 50%; top: 0vh" src="../../../assets/avatar/2.png" />
</button>

<button type="button" class="simple_button">
  <img class="avatar" style="left: 75%; top: 0vh" src="../../../assets/avatar/8.png" />
</button>

<button type="button" class="simple_button">
  <img class="avatar" style="left: 100%; top: 0vh" src="../../../assets/avatar/3.png" />
</button>

<button type="button" class="simple_button">
  <img class="avatar" style="left: 125%; top: 0vh" src="../../../assets/avatar/9.png" />
</button>

<button type="button" class="simple_button">
  <img class="avatar" style="left: 0; top: 8vh;" src="../../../assets/avatar/4.png" />
</button>

<button type="button" class="simple_button">
  <img class="avatar" style="left: 25%; top: 8vh;" src="../../../assets/avatar/10.png" />
</button>

<button type="button" class="simple_button">
  <img class="avatar" style="left: 50%; top: 8vh;" src="../../../assets/avatar/5.png" />
</button>

<button type="button" class="simple_button">
  <img class="avatar" style="left: 75%; top: 8vh;" src="../../../assets/avatar/11.png" />
</button>

<button type="button" class="simple_button">
  <img class="avatar" style="left: 100%; top: 8vh;" src="../../../assets/avatar/6.png" />
</button>

<button type="button" class="simple_button">
  <img class="avatar" style="left: 125%; top: 8vh;" src="../../../assets/avatar/12.png" />
</button>
