  <div class="friend" style="top:1vh">
    <app-friend [contact] = this.friends[0]></app-friend>
  </div>

  <div class="friend" style="top:13vh">
    <app-friend [contact] = this.friends[0]></app-friend>
  </div>

  <div class="friend" style="top:25vh">
    <app-friend [contact] = this.friends[0]></app-friend>
  </div>

  <div class="friend" style="top:37vh">
    <app-friend [contact] = this.friends[0]></app-friend>
  </div>

  <div class="friend" style="top:49vh">
    <app-friend [contact] = this.friends[0]></app-friend>
  </div>

  <div class="friend" style="top:61vh">
    <app-friend [contact] = this.friends[0]></app-friend>
  </div>

  <div class="friend" style="top:73vh">
    <app-friend [contact] = this.friends[0]></app-friend>
  </div>
