.box {
  position: absolute;
  color: #813641;
  border-radius: 5px;
  background-color:white;
  border: 1px solid #813641;
}


.box:focus-within, .box:focus-within select {
  background-color: #F2E3E3; /* couleur fond quand on vient de sélectionner */
  color: #A47272; /*couleur texte*/
}
.w3-dropdown-content select {

  text-align: center;
  color:#813641;
}

