.friends{
  position: absolute;
  top: 15vh;
  left: 55vw;
  font-weight: 550;
}

.onglet {
  left: 29.3vw; /*modif la position verticale pour placer sur le bon onglet*/
}


.text_add{
  position: absolute;
  top: 30vh;
  left: 65vw;
  font-weight: 550;
}

.text_search{
  position: absolute;
  top: 30vh;
  left: 40vw;
  font-weight: 550;
}

.search {
  position: absolute;
  width: 20vw;
  top: 35vh;
  left: 39vw;
}

.add {
  position: absolute;
  width: 20vw;
  top: 35vh;
  left: 64vw;
}

.add_button {
  position: absolute;
  top: 35.4vh;
  left: 80vw;
  color: #ffffff;
  background-color: #813641;
  border-radius: 20px;
}


