<div class="onglet"></div>
<div class="text_title friends ">My&nbsp;Friends</div>
<div class="text_upper_box">
  <div class="text_search">Search:</div>
  <div class="text_add">Add:</div>
</div>
<div class="search">
  <app-user-writing-frame [placeholder]="'Enter a friend username'"
                          [type] = "'text'"
  ></app-user-writing-frame>
</div>
<div class="add">
  <app-user-writing-frame [placeholder]="'Enter an user to add'"
                          [type] = "'text'"
  ></app-user-writing-frame>
</div>

<div class="conv_unread"></div>
<div class="conv_read"></div>
<div class="add_button">
    <button class="w3-button w3-ripple w3-hover-white w3-round-xxlarge"> <!-- Crée bouton-->
      <div class="text_button">+</div></button> <!-- Applique style de texte sur texte bouton-->
</div>


