.friends{
  position: absolute;
  top: 15vh;
  left: 61vw;
  font-weight: 550;
}

.onglet {
  left: 29.3vw; /*modif la position verticale pour placer sur le bon onglet*/
}


.text_add{
  position: absolute;
  top: 30vh;
  left: 67vw;
  font-weight: 550;
}

.text_search {
  position: absolute;
  top: 30vh;
  left: 44vw;
  font-weight: 550;
}

.search {
  position: absolute;
  width: 20vw;
  top: 34vh;
  left: 42vw;
}

.add {
  position: absolute;
  width: 20vw;
  top: 34vh;
  left: 66vw;
}

.add_button {
  position: absolute;
  top: 34.4vh;
  left: 82vw;
  color: #ffffff;
  background-color: #813641;
  border-radius: 20px;
}

.friendsList {
  position: absolute;
  top: 43vh;
  left: 42vw;
  width: 45vw;
  height: 48vh;
  background-color: #EEE7E7;
  overflow-y: scroll;
  border-radius: 20px;
  border: 2px solid #813641;
}


