<div class="onglet"></div>
<div class="text_title friends ">My&nbsp;friends</div>

<div class="text_upper_box">
  <div class="text_search"><b>Search:</b></div>
  <div class="text_add"><b>Add:</b></div>
</div>

<div class="search">
  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#7D7D7D" class="bi bi-search" viewBox="0 0 16 16"
       style="position:absolute;left:1.6vw;top:1.3vh">
    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
  </svg>
  <app-user-writing-frame [placeholder]="'     Enter a friend username'"
                          [type] = "'text'"
  ></app-user-writing-frame>
</div>

<div class="add">
  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#7D7D7D" class="bi bi-search" viewBox="0 0 16 16"
       style="position:absolute;left:1.6vw;top:1.3vh">
    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
  </svg>
  <app-user-writing-frame [placeholder]="'     Enter an user to add'"
                          [type] = "'text'"
  ></app-user-writing-frame>
</div>

<div class="add_button">
    <button class="w3-button w3-ripple w3-hover-white w3-round-xlarge" style="width:2.8vw; height:2.2vw"> <!-- Crée bouton-->
      <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16"
     style="position:absolute; left:0.7vw;top:0.6vh">
        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
        <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
      </svg>
    </button> <!-- Applique style de texte sur texte bouton-->
</div>

<div class="friendsList ">
  <div class="toscroll">
    <app-current-friends style="position:absolute; left: 2vw"></app-current-friends>
  </div>
</div>


