.logo_background {
  position: relative;
  height: 90vh;
  background-image: url(../../../assets/logo.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center; /* Centre horizontalement et verticalement */
}

.back_bloc {
  position: relative;
  width: 50vh;
  height: 80vh;
  top:40px;
  background-color: #eee7e7a6;
  border-radius: 16px;

}

.username {
  position: absolute;
  width:46vh ;
  height: 40px;
  top: 165px;
  left: 35px;
}

.password {
  position: absolute;
  width: 46vh;
  height: 40px;
  top: 255px;
  left: 35px;
}

.confirm_password {
  position: absolute;
  width: 46vh;
  height: 40px;
  top: 345px;
  left: 35px;
}

.first_name {
  position: absolute;
  width: 46vh;
  height: 40px;
  top: 435px;
  left: 35px;
}

.last_name {
  position: absolute;
  width: 46vh;
  height: 40px;
  top: 525px;
  left: 35px;
}

/* il ne veut pas s'afficher !!! */
.birthday {
  position: absolute;
  width: 420px;
  top: 615px;
  left: 35px;
}

.signup_button {
  position: absolute;
  width: 113px;
  height: 39px;
  top:680px;
  left: 50%; /* Centre horizontalement */
  transform: translateX(-50%); /* Ajuste centrage horizontal */
  background-color: #813641;
  border-radius: 20px;
}

.text_create {
  position:absolute;
  top:65px;
  left: 50%; /* Centre horizontalement */
  transform: translateX(-50%); /* Ajuste centrage horizontal */
}

.text_username {
  position: absolute;
  top: 135px;
  left: 50px;
}

.text_password {
  position: absolute;
  top: 225px;
  left: 50px;
}

.text_confirm {
  position: absolute;
  top: 315px;
  left: 50px;
}

.text_first_name {
  position: absolute;
  top: 405px;
  left: 50px;
}

.text_last_name {
  position: absolute;
  top: 495px;
  left: 50px;
}

.text_birthday {
  position: absolute;
  top: 585px;
  left: 50px;
}
