.logo_background {
  position: absolute;
  height: 20vh;
  background-image: url(../../../assets/logo.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center; /* Centre horizontalement et verticalement */
}

.back_bloc {
  position: relative;
  width: 50vh;
  height: 90vh;
  background-color: #eee7e7a6;
  border-radius: 16px;
}

.username {
  position: absolute;
  width:46vh;
  top: 19vh;
  left: 2vw;
}

.password {
  position: absolute;
  width: 46vh;
  top: 30vh;
  left: 2vw;
}

.confirm_password {
  position: absolute;
  width: 46vh;
  top: 41vh;
  left: 2vw;
}

.first_name {
  position: absolute;
  width: 46vh;
  top: 52vh;
  left: 2vw;
}

.last_name {
  position: absolute;
  width: 46vh;
  top: 63vh;
  left: 2vw;
}

.birthday {
  position: absolute;
  top: 72vh;
  left: 7.3vh;
}

.signup_button {
  position: absolute;
  width: 7.5vw;
  height: 4.8vh;
  top:84vh;
  left: 50%; /* Centre horizontalement */
  transform: translateX(-50%); /* Ajuste centrage horizontal */
  background-color: #813641;
  border-radius: 20px;
}

.text_create {
  position:absolute;
  top:6vh;
  left: 50%; /* Centre horizontalement */
  transform: translateX(-50%); /* Ajuste centrage horizontal */
}

.text_username {
  position: absolute;
  top: 15vh;
  left: 3vw;
}

.text_password {
  position: absolute;
  top: 26vh;
  left: 3vw;
}

.text_confirm {
  position: absolute;
  top: 37vh;
  left: 3vw;
}

.text_first_name {
  position: absolute;
  top: 48vh;
  left: 3vw;
}

.text_last_name {
  position: absolute;
  top: 59vh;
  left: 3vw;
}

.text_birthday {
  position: absolute;
    top: 70vh;
    left: 3vw;
}
