<!--A METTRE EN TOUT PREMIER SINON LES COMPONENTS A AFFICHER DU ROUTAGE SONT CACHES DERRIERE
LE RESTE DE CE CODE DU FOND DE BASE-->
<ng-container *ngIf="(currentRoute !== '/signIn')&&(currentRoute !== '/signUp')">
  <!--affiche la toolbar et le logo seulement si la route courante n'est pas signIn ou signUp-->
  <a routerLink="home"> <!-- logo en premier plan dans l'angle et renvoie sur home quand on clique-->
    <img src="assets/logo.png" style="width: 150px; position: absolute; top: 0; left: 0;   z-index: 3;">
  </a>
  <app-tool-bar-user></app-tool-bar-user>
  <app-left-side></app-left-side>
</ng-container>

<!--active routage et importe partout le framework w3s pour les objets complexes-->
<router-outlet></router-outlet><link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<html>
<body> <!--on a redéfinit le style de body dans style.css pour qu'il contienne le fond dégradé-->
<!--<app-mouse></app-mouse>-->
</body>
</html>

