
<div style="width:100%; top: 21%; left: 40%;">
  <div class="chat w3-round-xlarge">
    <div class="toscroll">
      <!-- Gérer l'apparence du message, s'il est envoyé par l'utilisateur connecté ou l'utilisateur en face-->
      <div *ngFor="let message of messages">

        <ng-container [ngSwitch]="message.authorID">
          <!-- Si c'est un message reçu, on l'affiche à gauche, comme un message reçu -->
          <app-interlocutor-bubble *ngSwitchCase="discussion.interlocutor"
                                   [author] = "discussion.interlocutor" [content] = "message.content"
                                   [date]="message.date"></app-interlocutor-bubble>

          <!-- Sinon, c'est l'utilisateur connecté ('me') qui envoie le message donc à droite -->
          <app-user-bubble *ngSwitchDefault
                           [author] ="'me'" [content] = "message.content"
                           [date]="message.date"></app-user-bubble>
        </ng-container>

      </div>
    </div>
  </div>
</div>
