.back_bloc {
  position: absolute;
  min-width: 350px;
  min-height: 700px;
  width: 30%;
  height: 85%;
  background-color: #eee7e7a6;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 16px;
}

.username {
  position: relative;
  width:86%;
  top: 15%;
  left: 6%;
  margin-bottom: 2%;
}

.password {
  position: relative;
  width: 86%;
  top: 17%;
  left: 6%;
  margin-bottom: 2%;
}

.confirm_password {
  position: relative;
  width: 86%;
  top: 19%;
  left: 6%;
  margin-bottom: 2%;
}

.first_name {
  position: relative;
  width: 86%;
  top: 21%;
  left: 6%;
  margin-bottom: 2%;
}

.last_name {
  position: relative;
  width: 86%;
  top: 23%;
  left: 6%;
  margin-bottom: 2%;
}

.birthday {
  position: relative;
  top: 25%;
  left: 6%;
  margin-bottom: 10%;
}

.signup_button {
  position: relative;
  width:113px;
  height:6%;
  font-size:100%;
  top:32%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #813641;
  border-radius: 16px;
}

.text_create {
  position:relative;
  top:4vh;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 15%;
}


