
<div class="onglet"></div>
<div class="text_title edit ">Edit&nbsp;profile</div>

<div class="text_upper_box">
  <div class="text_avatar">Avatar:</div>
  <div class="text_first_name">First&nbsp;name:</div> <!--&nbsp; permet de faire un espace sans retour à la ligne-->
  <div class="text_last_name">Last&nbsp;name:</div>
  <div class="text_birthday">Birthday:</div>
</div>

<div>
  <button class="w3-button">
    <img class="avatar" style="left: 40vw; top: 28vh" src="assets/avatar/f1.png" />
  </button>

  <button class="w3-button">
    <img class="avatar" style="left: 45vw; top: 28vh" src="assets/avatar/m1.png" />
  </button>

  <button class="w3-button">
    <img class="avatar" style="left: 50vw; top: 28vh" src="assets/avatar/f2.png" />
  </button>

  <button class="w3-button">
    <img class="avatar" style="left: 55vw; top: 28vh" src="assets/avatar/m2.png" />
  </button>

  <button class="w3-button">
    <img class="avatar" style="left: 60vw; top: 28vh" src="assets/avatar/f3.png" />
  </button>

  <button class="w3-button">
    <img class="avatar" style="left: 65vw; top: 28vh" src="assets/avatar/m3.png" />
  </button>

  <button class="w3-button">
    <img class="avatar" style="left: 40vw; top: 39vh;" src="assets/avatar/f4.png" />
  </button>

  <button class="w3-button">
    <img class="avatar" style="left: 45vw; top: 39vh;" src="assets/avatar/m4.png" />
  </button>

  <button class="w3-button">
    <img class="avatar" style="left: 50vw; top: 39vh;" src="assets/avatar/f5.png" />
  </button>

  <button class="w3-button">
    <img class="avatar" style="left: 55vw; top: 39vh;" src="assets/avatar/m5.png" />
  </button>

  <button class="w3-button">
    <img class="avatar" style="left: 60vw; top: 39vh;" src="assets/avatar/f6.png" />
  </button>

  <button class="w3-button">
    <img class="avatar" style="left: 65vw; top: 39vh;" src="assets/avatar/m6.png" />
  </button>
</div>


<div class="first_name">
  <app-user-writing-frame [placeholder]="'Modify your first name'"
                          [type] = "'text'"></app-user-writing-frame>
</div>
<div class="last_name">
  <app-user-writing-frame [placeholder]="'Modify your last name'"
                          [type] = "'text'"
  ></app-user-writing-frame>
</div>
<div class="birthday">
  <app-date-selector></app-date-selector>
</div>
<div class="user_bloc"></div>

<div class="conv_unread"></div>
<div class="conv_read"></div>
<div class="update_button">
    <button class="w3-button w3-ripple w3-hover-white w3-round-xxlarge"> <!-- Crée bouton-->
      <div class="text_button">UPDATE</div></button> <!-- Applique style de texte sur texte bouton-->
</div>
