.edit{
  position: absolute;
  top:15vh;
  left: 55vw;
  font-weight: 550;
}

.onglet {
  left:42.3vw; /*modif la position verticale pour placer sur le bon onglet*/
}

.first_name{
  position: absolute;
  width:30vw;
  top: 55vh;
  left: 40vw;
}

.last_name {
  position: absolute;
  width: 30vw;
  top: 66vh;
  left: 40vw;
}

.birthday {
  position: absolute;
  width: 30vw;
  top: 75vh;
  left: 41vw;
}

.update_button {
  position: absolute;
  top: 87vh;
  left: 66vw;
  color: #ffffff;
  background-color: #813641;
  border-radius: 20px;
}

.text_avatar {
  position: absolute;
  top: 23vh;
  left: 41vw;
}

.text_first_name {
  position: absolute;
  top: 51vh;
  left: 41vw;
}

.text_last_name {
  position: absolute;
  top: 62vh;
  left: 41vw;
}

.text_birthday {
  position: absolute;
  top: 73vh;
  left: 41vw;
}

.avatar {
  position:absolute;
  width: 4vw;
}
