
<div class="onglet"></div>
<div class="text_title edit ">Edit&nbsp;Profile</div>
<div class="text_upper_box">
  <div class="text_avatar">Avatar:</div>
  <div class="text_first_name">First&nbsp;name:</div> <!--&nbsp; permet de faire un espace sans retour à la ligne-->
  <div class="text_last_name">Last&nbsp;name:</div>
  <div class="text_birthday">Birthday:</div>
</div>

<div class="first_name">
  <app-user-writing-frame [placeholder]="'Modify your first name'"
                          [type] = "'text'"></app-user-writing-frame>
</div>
<div class="last_name">
  <app-user-writing-frame [placeholder]="'Modify your last name'"
                          [type] = "'text'"
  ></app-user-writing-frame>
</div>
<div class="birthday">
  <app-date-selector></app-date-selector>
</div>
<div class="user_bloc"></div>

<div class="conv_unread"></div>
<div class="conv_read"></div>
<div class="update_button">
    <button class="w3-button w3-ripple w3-hover-white w3-round-xxlarge"> <!-- Crée bouton-->
      <div class="text_button">UPDATE</div></button> <!-- Applique style de texte sur texte bouton-->
</div>
