.box {
  background-color: #ac8686;
  position: relative;
  color: #FFFFFF;
  display: inline-block;
  width: auto;
  padding: 10px;
  clear: left;
  left : 3%;
  max-width: 60%;
  word-wrap: break-word;
  float: left;
}

.hour {
  font-family: "Alata-Regular", Helvetica;
  font-weight: 400;
  color: #919191;
  font-size: 13px;
  text-align: center;
  position : relative;
  font-style:italic;
  clear: left;
  float:left;
  left : 3.5%;
}

.interlocutorName {
  position : relative;
  clear: left;
  float:left;
  left:3.5%;
  color: #ac8686;
}
