
<div class="text_title share">Share&nbsp;a&nbsp;message</div>
<div class="text_global text_info">Your&nbsp;message&nbsp;will&nbsp;be&nbsp;available&nbsp;for&nbsp;all&nbsp;your&nbsp;friends&nbsp;until&nbsp;you&nbsp;change&nbsp;or&nbsp;erase&nbsp;it.
  <br>You&nbsp;are&nbsp;limited&nbsp;to&nbsp;XX&nbsp;characters.</div>
<div class="text_upper_box">
  <div class="text_message">Message:</div>
  <div class="text_preview">Preview:</div>
</div>
<div class="message">
  <app-user-writing-frame [placeholder]="'Enter your message'"
                          [type] = "'text'"
  ></app-user-writing-frame>
</div>

<div class="send_button">
  <a routerLink="conversation">
    <button class="w3-button w3-ripple w3-hover-white w3-round-xxlarge"> <!-- Crée bouton-->
      <div class="text_button">PUBLISH</div></button> <!-- Applique style de texte sur texte bouton-->
  </a>
</div>


