
<div class="text_title new_msg ">New&nbsp;message</div>
<div class="bloc">
<div class="search_contact">
  <div class="text_upper_box">To:</div>
  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#7D7D7D" class="bi bi-search" viewBox="0 0 16 16"
       style="position:absolute;left:3.8%;margin-left:10px;top:58%">
    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
  </svg>
  <app-user-writing-frame [placeholder]="'Enter the recipient\'s username'"
                          [type] = "'text'"></app-user-writing-frame>
</div>
<div class="message">
  <div class="text_upper_box">Message:</div>
  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#7D7D7D" class="bi bi-envelope" viewBox="0 0 16 16"
       style="position:absolute;left:3.3%;margin-left:10px;top:58%">
    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
  </svg>
  <app-user-writing-frame [placeholder]="'Enter your message'"
                          [type] = "'text'"
                         ></app-user-writing-frame>
</div>


<div class="send_button">
  <a routerLink="conversation">
    <button class="w3-button w3-ripple w3-hover-white w3-round-xxlarge"> <!-- Crée bouton-->
      <div class="text_button">SEND</div></button> <!-- Applique style de texte sur texte bouton-->
  </a>
</div>
</div>

