.new_msg{
  position: absolute;
  top: 15%;
  left: 57%;
  font-weight: 550;
}

.bloc{
  position:absolute;
  top:40%;
  left:50%;
  width:17%;
}
.search_contact {
  position: relative;
  width: 180%;
}

.message {
  position: relative;
  width: 200%;
  margin-top: 30%;
}

.create_conv_button {
  position: relative;
  margin-top: 25%;
  width:210px;
  height:6%;
  left : 130%;
  color: #ffffff;
  background-color: #813641;
  border-radius: 20px;
}
