<app-tool-bar-user></app-tool-bar-user>
<app-left-side></app-left-side>

<div class="text_title new_msg ">New&nbsp;conversation</div>
  <form [formGroup]="newConvForm" (ngSubmit)="createConversation()">
    <div class="bloc">
      <div class="search_contact">
        <div class="text_upper_box">To:</div>
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#7D7D7D" class="bi bi-search" viewBox="0 0 16 16"
             style="position:absolute;left:3.8%;margin-left:10px;top:58%">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
        <app-user-writing-frame formControlName = "recipient" [placeholder]="'Enter the recipient\'s username'"
                                [type] = "'text'" (keyup.enter)="createConversation()"></app-user-writing-frame>
      </div>

      <div class="create_conv_button">
        <a routerLink="conversation">
          <button class="w3-button w3-ripple w3-hover-white w3-round-xxlarge" (click) = "createConversation()">
            <div class="text_button">CREATE CONVERSATION</div></button>
        </a>
      </div>
    </div>
  </form>
