.selected_onglet { /*fond de l'onglet sélectioné, bloc d'arrière plan*/
  position: absolute;
  /*background-color: #ac8686;*/
  background: linear-gradient(to top, #B58686,  #ac8686); /* Dégradé horizontal entre les 2 couleurs */
  top: 10vh;
  left: 50%; /* Centre horizontalement */
  transform: translateX(-50%); /* Ajuste centrage horizontal */
  width: 94vw;
  height: 88vh;
  border-radius: 10px;
}

/* Toolbar du haut */

.rectangle_toolbar {
  position: absolute;
  width: 100vw; /*toute la longueur de la fenetre*/
  height: 10vh;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #813641a6,  #813641a6, #BA9B9B); /* Dégradé vertical plus lent (3 couleurs) */
}

.name_onglet {
  position: absolute;
  top: 6.2vh;
  font-family: "Alata-Regular", Helvetica;
  color: #F9ECEB;
  font-size: 18px;
  z-index: 2; /*pour que le texte de l'onglet soit au dessus du selecteur d'onglet "onglet" d'indice 1*/
}

/*Blocs d'identité utilisateur*/
.user_bloc {
  width: 24vw;
  height: 18vh;
  top: 21vh;
  left: 10vw;
  border: 2px solid #813641;
  position: absolute;
  background-color: #eee7e7a6;
  border-radius: 16px;
}

.username {
  position: absolute;
  top: 15vh;
  left: 18vw;
  font-family: "Alata-Regular", Helvetica;
  font-size: 32px;
  color: #813641;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.usernameName{
  position: absolute;
  top: 2vh;
  left: 9vw;
  font-family: "Alata-Regular", Helvetica;
  font-size: 20px;
  color: #813641;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.separateur {
  position: absolute;
  border: 1px dashed #813641;
}

.conversations {
  position: absolute;
  top: 51vh;
  left: 10vw;
  height:44vh;
  width:26vw;
  overflow-y:scroll;

}

.text_global:hover { /*modifie aspect quand le texte est survolé avec la souris*/
  text-decoration: underline; /* Souligne le texte */
}

.name_onglet:hover { /*quand on survole un nom d'onglet*/
  color: #EFDAD3;
}
.tb a:hover svg { /*tb pour que effet s'applique que quand class=tb*/
   fill: #D6AAA6; /*change couleur de l'icone aussi quand on survole*/
  transition:0.3s;
 }


