.selected_onglet { /*fond de l'onglet sélectioné, bloc d'arrière plan*/
  position: absolute;
  /*background-color: #ac8686;*/
  background: linear-gradient(to top, #B58686,  #ac8686); /* Dégradé horizontal entre les 2 couleurs */
  top: 80px;
  left: 50%; /* Centre horizontalement */
  transform: translateX(-50%); /* Ajuste centrage horizontal */
  width: 94vw;
  height: 88vh;
  border-radius: 10px;
}

/* Toolbar du haut */

.rectangle_toolbar {
  position: absolute;
  width: 100vw; /*toute la longueur de la fenetre*/
  height: 80px;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #813641a6,  #813641a6, #BA9B9B); /* Dégradé vertical plus lent (3 couleurs) */
}

.name_onglet {
  position: absolute;
  width: 150px;
  top: 50px;
  font-family: "Alata-Regular", Helvetica;
  color: #eee7e7;
  z-index: 2; /*pour que le texte de l'onglet soit au dessus du selecteur d'onglet "onglet" d'indice 1*/
}

/*Blocs d'identité utilisateur*/
.user_bloc {
  width: 375px;
  height: 150px;
  top: 200px;
  left: 150px;
  border: 2px solid #813641;
  position: absolute;
  background-color: #eee7e7a6;
  border-radius: 16px;
}

.username {
  position: absolute;
  top: 140px;
  left: 260px;
  font-family: "Alata-Regular", Helvetica;
  font-size: 32px;
  color: #813641;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.usernameName{
  position: absolute;
  top: 10px;
  left: 140px;
  font-family: "Alata-Regular", Helvetica;
  font-size: 20px;
  color: #813641;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.separateur {
  position: absolute;
  border: 1px dashed #813641;
}

.conversations {
  position:absolute;
  top: 450px;
  left: 150px;
}
