.friends{
  position: absolute;
  top: 15vh;
  left: 61vw;
  font-weight: 550;
}

.onglet {
  left: 29.3vw;
}

.text_search {
  position: relative;
  top: 30vh;
  left: 47.5%;
  font-weight: 550;
}

.search {
  position: relative;
  width: 17%;
  top: 30vh;
  left: 47.5%;
}

.toscroll{
  position: absolute;
  overflow-y: scroll;
  top:0.6vh;
  left:-0.5vw;
  width: 35vw;
  height: 46.5vh;
}

.friendsList {
  position: absolute;
  top: 43vh;
  left: 48.5vw;
  width: 35vw;
  height: 48vh;
  background-color: #E9DCDB;
  border-radius: 15px;
  border: 2px solid #813641;
}


